---
---

$font-stack:    Helvetica, sans-serif;
$primary-color: #2ecc71;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #36393f;
}
a {
    color: #5e7f3e;
}
img {
  width: 500px;
  height: 500px;
}
.nav {
    background-color: #784b7a; 
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
    .box2 {
        display: inline-block;
        width: 200px;
        margin: 5px;
    }
    a {
        color: #8edb43;
    }
}
.cntr {
  padding: 5px;
  margin: 5px;
  text-align: center;
  img{
    width:1280px;
    height: 750px;
  }
}