---
---

$font-stack:    Arial, Helvetica, sans-serif;
$primary-color: #2ecc71;
$navcolor: #784b7a;
$fancybox: #1AAB8A;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #36393f;
}
a {
    color: #5e7f3e;
}
img {
  width: 500px;
  height: 500px;
}
.nav {
    background-color: $navcolor; 
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border:none;
    position:relative;
    a {
      color: #8edb43;
    }
    .box2 {
      &:hover{
        background:$navcolor;
        a {
        color: $fancybox;
        }
      }
    }
}
.cntr {
  padding: 5px;
  margin: 5px;
  text-align: center;
  img{
    width:1280px;
    height: 750px;
  }
}
.box2 {
  background: $navcolor;
  display: inline-block;
  width: 200px;
  margin: 5px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  a {
    color: #8edb43;
  }
  &:hover{
    background: #36393f;
    color: $fancybox;
    a {
      color: $fancybox;
    }
    &:after{
      width:100%;
      transition:800ms ease all;
    }
    &:before{
      width:100%;
      transition:800ms ease all;
    }
  }
  &:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: $fancybox;
    transition:400ms ease all;
  }
  &:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: $fancybox;
    transition:400ms ease all;
  }
}
.changelog {
  list-style-type:none;
}